<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Permissão para configurar alarmes -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.SET_ALARM" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="EcoTrack"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication"
        tools:targetApi="31">

        <activity
            android:name=".screens.Historico"
            android:exported="false" />

        <!-- Configuração do widget EcoTrack -->
        <receiver
            android:name=".widget.EcoTrackWidget"
            android:exported="false">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/eco_track_widget_info" />
        </receiver>

        <!-- Configuração para notificações diárias do EcoTrack -->
        <receiver
            android:name=".first_contact.EcoNotificationService"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <!-- Atividades do aplicativo EcoTrack -->
        <activity
            android:name=".tips.TipsCarbon"
            android:exported="false" />
        <activity
            android:name=".tips.TipsEletricity"
            android:exported="false" />
        <activity
            android:name=".tips.TipsWater"
            android:exported="false" />
        <activity
            android:name=".screens.Home"
            android:exported="false" />
        <activity
            android:name=".answers.AnswerCarbon"
            android:exported="false" />
        <activity
            android:name=".answers.AnswerEletricity"
            android:exported="false" />
        <activity
            android:name=".answers.AnswerWater"
            android:exported="false" />
        <activity
            android:name=".asks.AskCarbon"
            android:windowSoftInputMode="adjustResize"
            android:exported="false" />
        <activity
            android:name=".asks.AskEletricity"
            android:windowSoftInputMode="adjustResize"
            android:exported="false" />
        <activity
            android:name=".asks.AskWater"
            android:windowSoftInputMode="adjustResize"
            android:exported="false" />
        <activity
            android:name=".screens.Info"
            android:exported="false" />
        <activity
            android:name=".first_contact.Welcome"
            android:windowSoftInputMode="adjustResize"
            android:exported="false" />
        <activity
            android:name=".screens.Splash"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>
</manifest>
